body{
    background-color: rgb(247, 229, 249);

}
  
.signup-container{
    background-image: linear-gradient(to right, rgb(151, 151, 226) , rgb(154, 221, 248));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

.signup-form{
    border: 0.2px solid blueviolet;
    background-image: linear-gradient(to right, rgb(149, 149, 247) , rgb(245, 180, 245));
    width: 30%;
    padding: 2rem;
    border-radius: 0.7rem;
    font-family: 'Times New Roman', Times, serif;
}

.signup-form h3{
    text-align: center;
}

.login-container{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, rgb(151, 151, 226) , rgb(154, 221, 248));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.navbar{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 220, 249);
    height: 5rem;
}

.navbar-logo{
    padding-left: 1.5rem;
}

.navbar-user{
    padding-right: 1.5rem;
}

.logout-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: blue;
  }
  


.MovieCard-list{
    
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(247, 229, 249);
    padding-left: 4rem;
    gap: 1.5rem; 
   
}


.MovieCard{
    gap: 0.5rem;
    padding: 10px;
}

.MovieCard .title-card {
    flex-grow: 1; 
    text-align: center;
  }

  .MovieCard .title-card .card-title {
    height: 50px;
    overflow: hidden; 
    text-overflow: ellipsis;
  }


.MovieCard:hover{
    border: #b88cfe;
}



.detailcard{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(247, 229, 249);
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

 .MovieCard-details{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 5px;
} 

.movie-poster {
    height: 300px; 
    object-fit: cover; 
  }
  
  .MovieCard-details {
    height: auto; 
  }
  

.search-container{
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
    width: 100%;
    background-color: rgb(247, 229, 249);
}

.MovieCard img {
    height: 330px; /* Set a fixed height for the image */
    object-fit: cover; /* Ensure the image covers the container without stretching */
  }
.card-title{
    width: 100%;
    height: 20%;
}

.search-input {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px 0 0 8px;
    border: 1px solid black;
    padding: 0.6em 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 25%;
    background-color: #cfb6f7;
  }

.whole{
    background-color: #cfb6f7;
}

.detail-details{
    /* height: 100%; */
    padding-bottom: 3rem ;
}

  .search-btn {
    border-radius: 0 8px 8px 0;
    border: 1px solid black;
    padding: 0.6em 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 8%;
    background-color: #cfb6f7;
  }

  .search-btn:hover {
    background-color: #b88cfe;
  }


.pagination{
    padding-top: 2rem ;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-weight: 800;
    background-color: rgb(247, 229, 249);
    

}






@media screen and (max-width : 768px) {
    .signup-form{
        background-color: #d2afff;
        width: 80%;
        padding: 2rem;
    }
    .signup-form .link{
        display: none;
    }

    .MovieCard-list{
        padding-left: 5.5rem;
    }

    .search-input{
        width: 45%;
    }

    .search-btn{
        width: 20%;
    }

    .MovieCard{
        height: 100%;
    }

    .detailcard{
        padding: 4rem;
        padding-top: 2rem;
    }

    .login-button Button{
        width: 50%;
    
    }

    .login-button{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
} 
